// Custom styles.
code {
  color: #ff7600;
  background: #fbf7f8;
  margin: 2px;
}
// 大代码块的自定义样式
.highlight, pre {
  margin: 5px 0;
  padding: 5px;
  border-radius: 3px;
}
.highlight, code, pre {
  border: 1px solid #d6d6d6;
}

// 主页文章添加阴影效果
.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

//添加背景图片
//body { background:url(/images/backGround.jpg)}
//改掉题头颜色
//.site-meta {
//  background: #F0D784; //修改为自己喜欢的颜色
//}

body {
  background: url(https://source.unsplash.com/random/1920x1080?wallpapers);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}

//主标题颜色
.brand{
  color: #2f9833
  }
//副标题颜色
.site-subtitle{
  color: #47b54a
}
//页脚统计文字颜色
.footer{
  color: #F0D784
}
//修改页脚备案链接颜色
.footer a{
  color: #F0D784
}
//修改页脚统计人数的颜色
.footer .with-love{
  color: #F0D784
}
