// Custom styles.

/*
body {
  background: { background:url(/images/backGround.png)};
  //background: url(https://source.unsplash.com/random/1920x1080?wallpapers);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}
.main-inner {
  background: #fff;
  opacity: 0.85;
}
.header-inner {
  opacity: 0.85;
}
*/

.post-copyright {
  margin: 1em 0 0;
  padding: 0.5em 1em;
  border-left: 3px solid #ff1700;
  background-color: #f9f9f9;
  list-style: none;
}
