// Custom styles.

body {
  background: url(https://source.unsplash.com/random/1920x1080?wallpapers);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}

.main-inner {
  background: #fff;
  opacity: 0.85;
}

.header-inner {
  opacity: 0.85;
}
