// Custom styles.
// //添加背景图片
// body { background:url(/images/backGround.jpg)}
// //改掉题头颜色
// .site-meta {
//   background: #F0D784; //修改为自己喜欢的颜色
// }
// //主标题颜色
// .brand{
//   color: #2f9833
//   }
// //副标题颜色
// .site-subtitle{
//   color: #47b54a
// }
// //页脚统计文字颜色
// .footer{
//   color: #F0D784
// }
// //修改页脚备案链接颜色
// .footer a{
//   color: #F0D784
// }
// //修改页脚统计人数的颜色
// .footer .with-love{
//   color: #F0D784
// }


// 圣诞节皮肤测试
body { 
  background:url("https://s1.ax1x.com/2018/12/13/FNksPA.png");//大红背景的圣诞图片
  background-repeat: no-repeat;//不重复
  background-position: center;//居中
  background-size: cover;//填充
  background-attachment:fixed;//不随页面滚动
  // background-position:0% 0%;
  }

//改掉题头颜色
.site-meta {
  background: #8cc302;
  background: linear-gradient(0deg, #8cc302 0%, #fdf52d 12%, #c12424 100%);
}
//主标题颜色
.brand{
  color: #c12424
  }
//副标题颜色
.site-subtitle{
  color: #c12424
}
.header-inner{
  background: #8cc302;
  }
//页脚文字
.footer{
  color: #31ff00
}
//修改页脚备案链接颜色
.footer a{
  color: #31ff00
}
//修改页脚统计人数的颜色
.footer .with-love{
  color: #31ff00
}


article .post-header{
  // background:url(https://s1.ax1x.com/2018/12/13/FNA8eS.jpg);//圣诞老人挥手
  background:url(https://s1.ax1x.com/2018/12/13/FNEgHS.png);//圣诞老人透明
  background-repeat: no-repeat;//不重复
  background-position: right ; //居右
  background-size: contain;//合适大小
  // color:#ff0000;
}
article .post-header .post-meta{
  // color:#fff000;
}
article .post-header .post-meta a{
  // color:#ffff00;
}
article .post-copyright{
  background:url(https://s1.ax1x.com/2018/12/13/FNVGCj.png);//圣诞树透明
  background-repeat: no-repeat;//不重复
  background-position: right bottom ; //居右下
  background-size: contain;//auto按图片比例缩放
}

//左边栏概览
.sidebar-inner {
  background:url(https://s1.ax1x.com/2018/12/13/FNuEc9.jpg);//圣诞树透明
  background-repeat: no-repeat;//不重复
  background-position: center ; //居右下
  background-size: cover;//auto按图片比例缩放

  color: #fbda41;
  }
.sidebar-inner .site-overview-wrap .site-overview{
  color: #fbda41;
}
.sidebar-inner .site-overview-wrap .site-overview .site-author-name{
  color: #fbda41;
}
.sidebar a, .sidebar span.exturl{
  color: #fbda41;
}
.site-description{
  color: #d2b116
}
.site-state-item-name{
  color: #d2b116
}

//文章内页左边栏
.sidebar-nav .sidebar-nav-active{
  color: #fcc307;
  border-bottom-color: #fcc307;
  }
.sidebar-nav li{
  color: #fbda41;
  border-bottom-color: #fbda41;
  }
.links-of-blogroll-list{
  text-shadow: red 0 1px 0;//给links部分添加文字阴影
}
.post-toc ol a{
  color: #fbda41;
  }


